@font-face {
  font-family: 'SohoGothicPro';
  src: url('../assets/fonts/SohoGothicPro-Medium.woff');
}

.search-container {
  .search {
    font-size: 24px;
    padding: 8px;
    text-align: center;
    font-family: 'SohoGothicPro';
    background-image: url("../assets/image/example-image.png");
  }

  .image-container {
    img {
      width: 500px;
    }
  }

  .flex-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .page {
    font-size: 12px; /*no*/
    width: 375px; /*no*/
    height: 40px;
  }
}
